<h2>Administrar Productos</h2>

<div *ngIf="mensaje" class="mensaje">{{ mensaje }}</div>

<!-- Botón "Nuevo Producto" redundante eliminado -->
<button *ngIf="authService.isAdmin()" (click)="editarProducto(0)">Nuevo Producto</button>

<table *ngIf="productos.length > 0">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Stock</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of productos">
      <td>{{ producto.nombre }}</td>
      <td>S/ {{ producto.precio }}</td>
      <td>{{ producto.stock }}</td>
      <td>
       <button *ngIf="authService.isUser() || authService.isAdmin()" (click)="editarProducto(producto.id!)">Editar</button>
            <!-- Botón "Eliminar": Solo visible para ADMIN -->
            <button *ngIf="authService.isAdmin()" (click)="eliminarProducto(producto.id!)">Eliminar</button>
          </td>
    </tr>
  </tbody>
</table>

<p *ngIf="productos.length === 0">No hay productos registrados.</p>
