<h2>Gestión de Pedidos</h2>

<div *ngIf="mensaje" class="mensaje">{{ mensaje }}</div>

<div *ngFor="let pedido of pedidos" class="pedido">
  <h4>Pedido #{{ pedido.id }} - Fecha: {{ pedido.fecha }} - Total: S/ {{ pedido.total }}</h4>
  <!-- Asumiendo que el backend devuelve el estado del pedido -->
  <!-- <p>Estado: {{ pedido.estado }}</p> -->

  <table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio Unitario</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detalle of pedido.detalles">
        <td>{{ detalle.producto }}</td>
        <td>{{ detalle.cantidad }}</td>
        <td>S/ {{ detalle.precioUnitario }}</td>
        <td>S/ {{ detalle.subtotal }}</td>
      </tr>
    </tbody>
  </table>
  <p class="total">Subtotal Pedido: S/ {{ calcularSubtotal(pedido) }}</p>

  <button (click)="verDetalle(pedido)">Ver Detalle Completo</button>
  <!-- Actualizar estado solo si es ADMIN -->
  <select *ngIf="authService.isAdmin()" #estadoSelect (change)="actualizarEstado(pedido.id!, estadoSelect.value)">
    <option value="">Actualizar Estado</option>
    <option value="PENDIENTE">PENDIENTE</option>
    <option value="EN_PROCESO">EN PROCESO</option>
    <option value="ENVIADO">ENVIADO</option>
    <option value="ENTREGADO">ENTREGADO</option>
    <option value="CANCELADO">CANCELADO</option>
  </select>


</div>

<p *ngIf="pedidos.length === 0">No hay pedidos para gestionar.</p>
