<nav class="navbar">
  <div class="navbar-left">
    <a routerLink="/products">Productos</a>
  </div>

  <div class="navbar-center">
    <a routerLink="/carrito">Carrito</a>
  </div>

  <div class="navbar-right">
    <ng-container *ngIf="!authService.isAuthenticated()">
      <a routerLink="/login">Iniciar sesión</a>
      <a routerLink="/register">Registrarse</a>
    </ng-container>

    <ng-container *ngIf="authService.isAuthenticated()">
      <a routerLink="/perfil">Perfil</a>
      <a routerLink="/pedidos">Pedidos</a>

      <ng-container *ngIf="authService.isUser() || authService.isAdmin()">
        <a routerLink="/admin/productos">Gestión Productos</a>
        <a routerLink="/admin/pedidos">Gestión Pedidos</a>
        <a routerLink="/admin/categorias">Gestión Categorías</a>
        <a routerLink="/admin/marcas">Gestión Marcas</a>
        <a routerLink="/admin/resenas">Moderación Reseñas</a>
        <a routerLink="/admin/usuarios">Gestión Usuarios</a>
      </ng-container>
<!-- 
      <ng-container *ngIf="authService.isAdmin()">
        <a routerLink="/admin">Panel Admin</a>
      </ng-container> -->

      <button class="logout-button" (click)="logout()">Salir</button>
    </ng-container>
  </div>
</nav>

<footer class="footer">
  <p>© {{ currentYear }} Ventas Online</p>
</footer>
